In [1]:
import pandas as pd
import numpy as np

In [2]:
from distutils import errors


dados = pd.read_csv(r"C:\Users\petri\Documents\Shark-Attack\archive\attacks.csv", 
                encoding = 'latin-1')

In [3]:
dados

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
dados.groupby('Country')['Country' ].count().sort_values()

Country
 PHILIPPINES                1
NORTH ATLANTIC OCEAN        1
NICARAGUA                   1
NEVIS                       1
NETHERLANDS ANTILLES        1
                         ...
NEW ZEALAND               128
PAPUA NEW GUINEA          134
SOUTH AFRICA              579
AUSTRALIA                1338
USA                      2229
Name: Country, Length: 212, dtype: int64

In [5]:
dados['Sex '].value_counts()

M      5094
F       637
M         2
N         2
lli       1
.         1
Name: Sex , dtype: int64

In [6]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

Date, age, time,  esta como obj

Qual a prevalencia de ataque de tubarao no Brasil entre 2010 e 2018
qual especie que mais atacou no brasil

In [7]:
dados_brazil = dados[dados['Country'] == 'BRAZIL']

In [8]:
dados_brazil.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 112 entries, 6 to 6101
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             112 non-null    object
 1   Date                    112 non-null    object
 2   Year                    112 non-null    float64
 3   Type                    112 non-null    object
 4   Country                 112 non-null    object
 5   Area                    104 non-null    object
 6   Location                107 non-null    object
 7   Activity                103 non-null    object
 8   Name                    107 non-null    object
 9   Sex                     98 non-null     object
 10  Age                     64 non-null     object
 11  Injury                  110 non-null    object
 12  Fatal (Y/N)             104 non-null    object
 13  Time                    43 non-null     object
 14  Species                 38 non-null     object
 15  Investigator or Source  112 non-null    object
 16  pdf                     112 non-null    object
 17  href formula            112 non-null    object
 18  href                    112 non-null    object
 19  Case Number.1           112 non-null    object
 20  Case Number.2           112 non-null    object
 21  original order          112 non-null    float64
 22  Unnamed: 22             0 non-null      object
 23  Unnamed: 23             0 non-null      object
dtypes: float64(2), object(22)
memory usage: 21.9+ KB

In [9]:
dados_brazil[['Sex ']].reset_index().describe

<bound method NDFrame.describe of      index Sex
0        6    M
1       27    M
2       31    M
3       44    F
4       51    M
..     ...  ...
107   5122  NaN
108   5746    M
109   5777    M
110   5848    M
111   6101    M

[112 rows x 2 columns]>

In [10]:
dados_brazil['Species '].value_counts()

Bull shark                                            3
Shark involvement not confirmed                       3
Bull or tiger shark                                   3
Tiger shark                                           2
2 m shark                                             2
Sandtiger shark                                       2
Tiger shark, 1.5 m                                    2
Shark involvement prior to death was not confirmed    2
Thought to involve a white, bull or tiger shark       1
White shark                                           1
170-kg, 2.8 m shark                                   1
                                                      1
3.7m  to 4.2 m white shark                            1
Though to involve a white shark                       1
Tiger shark, 2.5 m [8.25']                            1
1.3 to 1.6 m shark                                    1
2.27 m shark                                          1
Possibly a bull shark or tiger shark                  1
bull shark                                            1
Invalid                                               1
Thought to involve a juvenile hammerhead shark        1
Shark involvement prior to death not confirmed        1
No shark involvement                                  1
Lemon shark pup                                       1
small shark                                           1
Injury believed caused by an eel, not a shark         1
Shark involvement prior to death unconfirmed          1
Name: Species , dtype: int64

Verificando dados nulos em 'Year'.

In [11]:
dados['Year'].dtype

dtype('float64')

In [12]:
dados_brazil[dados_brazil['Year'].isnull()]

Empty DataFrame
Columns: [Case Number, Date, Year, Type, Country, Area, Location, Activity, Name, Sex , Age, Injury, Fatal (Y/N), Time, Species , Investigator or Source, pdf, href formula, href, Case Number.1, Case Number.2, original order, Unnamed: 22, Unnamed: 23]
Index: []

[0 rows x 24 columns]

Verificando dados dos USA

In [13]:
dados_usa = dados[dados['Country'] == 'USA']
dados_usa.reset_index()

,index,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,7,2018.05.27,27-May-2018,2018.0,Unprovoked,USA,Florida,"Lighhouse Point Park, Ponce Inlet, Volusia County",Fishing,male,...,"Lemon shark, 3'","K. McMurray, TrackingSharks.com",2018.05.27-Ponce.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.27,2018.05.27,6296.0,NaN,NaN
4,8,2018.05.26.b,26-May-2018,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,...,"Bull shark, 6'","K.McMurray, TrackingSharks.com",2018.05.26.b-High.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.26.b,2018.05.26.b,6295.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2224,6249,ND.0056,Before 1958,0.0,Unprovoked,USA,Florida,"Palm Beach, Palm Beach County",Standing,Horton Chase,...,NaN,"V.M. Coppleson (1956), p.255; R.F. Hutton",ND-0056-HortonChase.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0056,ND.0056,54.0,NaN,NaN
2225,6283,ND.0019,Before 1921,0.0,Unprovoked,USA,Florida,"Gadsden Point, Tampa Bay",Fishing,James Kelley,...,NaN,"T. Helm, p.219",ND-0019-Kelley.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0019,ND.0019,20.0,NaN,NaN
2226,6288,ND.0014,Before 17-Jul-1916,0.0,Unprovoked,USA,North Carolina,Somewhere between Hatteras and Beaufort,Swimming,"""youthful male""",...,NaN,"C. Creswell, GSAF; Wilmington Star, 7/17/1916",ND-0014-pre1916-NorthCarolina.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0014,ND.0014,15.0,NaN,NaN
2227,6292,ND.0010,Circa 1862,0.0,Unprovoked,USA,Hawaii,Puna,NaN,"A ""chiefess""",...,NaN,Captain W. Young,ND-0010-Puna Hawaii.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0010,ND.0010,11.0,NaN,NaN
2228,6299,ND.0003,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,...,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4.0,NaN,NaN

In [14]:
dados_usa['Area'].value_counts()

Florida                   1037
Hawaii                     298
California                 290
South Carolina             159
North Carolina             101
Texas                       73
New Jersey                  52
New York                    30
Oregon                      29
Virginia                    19
Massachusetts               16
Puerto Rico                 16
Alabama                     15
Georgia                     14
Louisiana                   11
Maryland                     7
Delaware                     7
Rhode Island                 7
Connecticut                  6
Mississippi                  5
US Virgin Islands            5
New York                     3
North Carolina               2
Palmyra Atoll                2
East coast                   2
Washington                   2
Midway Atoll                 1
 North Carolina              1
Wake Island                  1
Illinois                     1
 New Jersey                  1
Pennsylvania                 1
Kentucky                     1
Florida                      1
North & South Carolina       1
Missouri                     1
Alaska                       1
Johnston Atoll               1
South Carolina               1
New Mexico                   1
Guam                         1
Maine                        1
CUBA                         1
Name: Area, dtype: int64

In [15]:
dados_usa['Species '].value_counts()

Shark involvement not confirmed                       53
White shark                                           43
4' shark                                              38
Invalid                                               32
Shark involvement prior to death was not confirmed    30
                                                      ..
1.2 m [4'] "grey-colored shark"                        1
Questionable Incident                                  1
Mako shark, 1.8 m [6']                                 1
2.4 m to 3.7 m [8' to 12'] shark                       1
White shark, 1,900-lb                                  1
Name: Species , Length: 640, dtype: int64

Limpeza de dados 'Area' e 'Year'

In [16]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

In [17]:
dados['Year'].unique()

array([2018., 2017.,   nan, 2016., 2015., 2014., 2013., 2012., 2011.,
       2010., 2009., 2008., 2007., 2006., 2005., 2004., 2003., 2002.,
       2001., 2000., 1999., 1998., 1997., 1996., 1995., 1984., 1994.,
       1993., 1992., 1991., 1990., 1989., 1969., 1988., 1987., 1986.,
       1985., 1983., 1982., 1981., 1980., 1979., 1978., 1977., 1976.,
       1975., 1974., 1973., 1972., 1971., 1970., 1968., 1967., 1966.,
       1965., 1964., 1963., 1962., 1961., 1960., 1959., 1958., 1957.,
       1956., 1955., 1954., 1953., 1952., 1951., 1950., 1949., 1948.,
       1848., 1947., 1946., 1945., 1944., 1943., 1942., 1941., 1940.,
       1939., 1938., 1937., 1936., 1935., 1934., 1933., 1932., 1931.,
       1930., 1929., 1928., 1927., 1926., 1925., 1924., 1923., 1922.,
       1921., 1920., 1919., 1918., 1917., 1916., 1915., 1914., 1913.,
       1912., 1911., 1910., 1909., 1908., 1907., 1906., 1905., 1904.,
       1903., 1902., 1901., 1900., 1899., 1898., 1897., 1896., 1895.,
       1894., 1893., 1892., 1891., 1890., 1889., 1888., 1887., 1886.,
       1885., 1884., 1883., 1882., 1881., 1880., 1879., 1878., 1877.,
       1876., 1875., 1874., 1873., 1872., 1871., 1870., 1869., 1868.,
       1867., 1866., 1865., 1864., 1863., 1862., 1861., 1860., 1859.,
       1858., 1857., 1856., 1855., 1853., 1852., 1851., 1850., 1849.,
       1847., 1846., 1845., 1844., 1842., 1841., 1840., 1839., 1837.,
       1836., 1835., 1834., 1832., 1831., 1830., 1829., 1828., 1827.,
       1826., 1825., 1823., 1822., 1819., 1818., 1817., 1816., 1815.,
       1812., 1811., 1810., 1808., 1807., 1805., 1804., 1803., 1802.,
       1801., 1800., 1797., 1792., 1791., 1788., 1787., 1786., 1785.,
       1784., 1783., 1780., 1779., 1776., 1771., 1767., 1764., 1758.,
       1753., 1751., 1749., 1755., 1748., 1742., 1738., 1733., 1723.,
       1721., 1703., 1700., 1642., 1638., 1637., 1617., 1595., 1580.,
       1555., 1554., 1543.,  500.,   77.,    5.,    0.])

In [18]:
dados[dados['Year'].isnull()]

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
187,2017.01.08.R,Reported 08-Jan-2017,NaN,Invalid,AUSTRALIA,Queensland,NaN,Spearfishing,Kerry Daniel,M,...,Bull shark,Liquid Vision 1/8/2017,2017.01.08.R-KerryDaniel.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.01.08.R,2017.01.08.R,6116.0,NaN,NaN
6079,1836.08.19.R,Reported 19-Aug-1836,NaN,Unprovoked,ENGLAND,Cumberland,Whitehaven,Swimming,a boy,M,...,NaN,"C. Moore, GSAF",1835.08.19.R-Whitehaven.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1836.08.19.R,1836.08.19.R,224.0,NaN,NaN
6302,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6304.0,NaN,NaN
6303,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6305.0,NaN,NaN
6304,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6306.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
dados.iloc[[187, 6079],[1,2]]

                      Date  Year
187   Reported 08-Jan-2017   NaN
6079  Reported 19-Aug-1836   NaN

In [20]:
dados.loc[187, 'Year'] = 2017
dados.loc[6079, 'Year']= 1836

In [21]:
dados.iloc[[187, 6079],[1,2]]

                      Date    Year
187   Reported 08-Jan-2017  2017.0
6079  Reported 19-Aug-1836  1836.0

In [22]:
dados['Year'].fillna(0, inplace=True)

In [23]:
dados['Year'] = dados['Year'].astype("int")

In [24]:
dados.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [25]:
dados[['Year']].value_counts().sort_values(ascending=False)

dados.groupby('Year', as_index=False).count().sort_values(by='Year', ascending= False)

,Year,Case Number,Date,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
248,2018,53,53,53,53,50,53,52,52,52,...,40,53,53,53,53,53,53,53,0,0
247,2017,137,137,136,136,130,127,131,133,132,...,77,136,137,137,137,137,137,137,0,0
246,2016,130,130,130,130,124,124,124,129,126,...,75,129,130,130,130,130,130,130,0,0
245,2015,143,143,142,143,135,138,137,143,141,...,108,142,143,143,143,143,143,143,0,0
244,2014,127,127,127,126,117,114,122,126,117,...,84,127,127,127,127,127,127,127,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,1543,1,1,1,1,1,0,1,1,1,...,0,1,1,1,1,1,1,1,0,0
3,500,1,1,1,1,0,0,0,1,1,...,0,1,1,1,1,1,1,1,0,0
2,77,1,1,1,0,1,0,1,1,1,...,0,1,1,1,1,1,1,1,0,0
1,5,1,1,1,1,1,1,0,1,1,...,0,1,1,1,1,1,1,1,0,0
0,0,2526,125,125,121,99,91,107,120,117,...,35,125,125,125,125,125,125,132,0,0

In [26]:
dados['Year'].describe()

count    25723.000000
mean       472.171559
std        840.498090
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max       2018.000000
Name: Year, dtype: float64

Criando mascara com os dados depois de 2010

In [27]:
mascara = dados['Year'] >= 2010

In [28]:
dados_mascara = dados[mascara]
dados_mascara.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [29]:
dados_mascara[['Year']].value_counts().sort_values(ascending=False)

Year
2015    143
2017    137
2016    130
2011    128
2014    127
2013    122
2012    117
2010    101
2018     53
dtype: int64

In [30]:
dados_mascara['Area'].value_counts()

Florida              230
New South Wales       84
Hawaii                73
Western Australia     66
California            62
                    ...
Granada                1
Majorca                1
Central Tuamotu        1
Washington             1
Eastern Province       1
Name: Area, Length: 171, dtype: int64

In [31]:
dados_mascara.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

Alterando dados NaN de Area

In [42]:
dados_mascara.iloc[[32,33], [4,5,6]]

          Country    Area               Location
32  NEW CALEDONIA  Noumea  Magenta Beach, Noumea
33        BAHAMAS  Bimini                 Bimini

In [34]:
dados_mascara.loc[32, 'Area']= 'Noumea'
dados_mascara.loc[33, 'Area']= 'Bimini'

In [43]:
dados_mascara.iloc[[48,56,59,90,101,129,132,206,226], [4,5,6]]

             Country              Area          Location
48     NEW CALEDONIA          Nouville          Nouville
56           BAHAMAS           Bahamas           Bahamas
59             LIBYA    Gars Garabulli    Gars Garabulli
90   SOLOMON ISLANDS    Owarigi Island    Owarigi Island
101          BAHAMAS           Bahamas           Bahamas
129          REUNION      Roches Noire      Roches Noire
132          BAHAMAS           Bahamas           Bahamas
206           MEXICO  Guadalupe Island  Guadalupe Island
226           MEXICO  Guadalupe Island  Guadalupe Island

In [36]:
dados_mascara.loc[48, 'Area']= 'Nouville'
dados_mascara.loc[[56,101,132], ['Area', 'Location']]= 'Bahamas'
dados_mascara.loc[59, 'Area'] = 'Gars Garabulli'
dados_mascara.loc[90, 'Area'] = 'Owarigi Island'
dados_mascara.loc[129, 'Area'] = 'Roches Noire'
dados_mascara.loc[[206,226], 'Area'] = 'Guadalupe Island'

In [73]:
dados_mascara.bfill(axis='columns')

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,F,...,"K.McMurray, TrackingSharks.com","K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,"K.McMurray, TrackingSharks.com","K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1053,2010.01.09.c,09-Jan-2010,2010,Unprovoked,VIETNAM,Binh Dinh Province,Quy Nhon,female,female,F,...,"C. Eksander, GSAF","C. Eksander, GSAF",2010.01.09.c-woman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2010.01.09.c,2010.01.09.c,5250.0,NaN,NaN
1054,2010.01.09.b,09-Jan-2010,2010,Unprovoked,VIETNAM,Binh Dinh Province,Quy Nhon,Mang Duc Hanh,Mang Duc Hanh,M,...,"C. Eksander, GSAF","C. Eksander, GSAF",2010.01.09.b-Hanh.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2010.01.09.b,2010.01.09.b,5249.0,NaN,NaN
1055,2010.01.09.a,09-Jan-2010,2010,Unprovoked,VIETNAM,Binh Dinh Province,Quy Nhon,Bathing,Nguyen Minh Tuan,M,...,"C. Eksander, GSAF","C. Eksander, GSAF",2010.01.09.a-Tuan.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2010.01.09.a,2010.01.09.a,5248.0,NaN,NaN
1056,2010.01.06,06-Jan-2010,2010,Unprovoked,USA,Florida,Elliot Key,Spearfishing,Dreice Chirino,M,...,"WSVN-TV, 1/7/2010","WSVN-TV, 1/7/2010",2010.01.06-Chirino.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2010.01.06,2010.01.06,5247.0,NaN,NaN
1057,2010.01.05,05-Jan-2010,2010,Unprovoked,SOUTH AFRICA,Eastern Province,"Nahoon, East London",Surfing,male,M,...,"C. Eksander, GSAF","C. Eksander, GSAF",2010.01.05-Nahoon-surfer.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2010.01.05,2010.01.05,5246.0,NaN,NaN

In [44]:
dados_mascara.iloc[[229,248,270,296,325,327,370,388], [4,5,6]]

           Country                  Area                Location
229        REUNION          Boucan Canot            Boucan Canot
248        BAHAMAS           Tiger Beach             Tiger Beach
270  NEW CALEDONIA  CÃ´te-Blanche, NoumÃ©a   CÃ´te-Blanche, NoumÃ©a
296        BAHAMAS               Bahamas                 Bahamas
325          ARUBA         Boat capsized           Boat capsized
327        BAHAMAS     Off Andros Island       Off Andros Island
370           FIJI                  FIJI                    FIJI
388        REUNION               St. Leu                 St. Leu

In [75]:
dados_mascara.iloc[[229,248,270,296,325,327,370,388], [4,5,6]]

           Country                    Area                Location
229        REUNION            Boucan Canot            Boucan Canot
248        BAHAMAS             Tiger Beach             Tiger Beach
270  NEW CALEDONIA   CÃ´te-Blanche, NoumÃ©a    CÃ´te-Blanche, NoumÃ©a
296        BAHAMAS                 Bahamas                 Bahamas
325          ARUBA           Boat capsized           Boat capsized
327        BAHAMAS       Off Andros Island       Off Andros Island
370           FIJI                    FIJI                    FIJI
388        REUNION                 St. Leu                 St. Leu

In [78]:
dados_mascara.loc[dados_mascara['Area'].isnull(), 'Area']= dados_mascara.loc[dados_mascara['Area'].isnull(),'Location']

#Substituindo os nulos de 'Area' por dados da 'Location'.

In [82]:
dados_mascara.loc[dados_mascara['Area'].isnull(), 'Area']= dados_mascara.loc[dados_mascara['Area'].isnull(),'Country']

##Substituindo os nulos de 'Area' por dados da 'Country'.

In [84]:
dados_mascara.loc[dados_mascara['Location'].isnull(), 'Location']= dados_mascara.loc[dados_mascara['Location'].isnull(),'Area']

##Substituindo os nulos de 'Location' por dados da 'Area'.

In [94]:
dados_mascara.iloc[[543], [4,5,6]]

    Country                 Area                            Location
543  BRAZIL  Coast of Pernambuco  500 km off the coast of Pernambuco

In [93]:
dados_mascara.loc[543, 'Area']= 'Coast of Pernambuco'

In [98]:
dados_mascara.drop(index=62, inplace=True)

C:\Users\petri\AppData\Local\Temp\ipykernel_20372\401159291.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados_mascara.drop(index=62, inplace=True)

In [100]:
dados_mascara.drop(index=525, inplace=True)

C:\Users\petri\AppData\Local\Temp\ipykernel_20372\1443425636.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados_mascara.drop(index=525, inplace=True)

In [106]:
dados_mascara[dados_mascara['Area'].isnull()]

Empty DataFrame
Columns: [Case Number, Date, Year, Type, Country, Area, Location, Activity, Name, Sex , Age, Injury, Fatal (Y/N), Time, Species , Investigator or Source, pdf, href formula, href, Case Number.1, Case Number.2, original order, Unnamed: 22, Unnamed: 23]
Index: []

[0 rows x 24 columns]